@model IEnumerable<DoinGood.Models.Catalyst>

@{
    ViewData["Title"] = "CatalystIndex";
}

<h1>CatalystIndex</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskCompletedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChallengedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalContribution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lng)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskCompletedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChallengedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalContribution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lng)
            </td>
            <td>
                <a asp-action="CatalystEdit" asp-route-id="@item.CatalystId">Edit</a> |
                <a asp-action="CatalystDetail" asp-route-id="@item.CatalystId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
