@model DoinGood.Models.Catalyst

@{
    ViewData["Title"] = "CatalystDetails";
}

<h1>Details</h1>

<div>
    <h4>Catalyst</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Deed Count:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeedCount)
        </dd>
        <dt class="col-sm-2">
            Tasks Completed:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskCompletedCount)
        </dd>
        <dt class="col-sm-2">
            Donations Made:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonationCount)
        </dd>
        <dt class="col-sm-2">
            Challenges Accepted:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChallengedCount)
        </dd>
        <dt class="col-sm-2">
            Total Contribution:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalContribution)
        </dd>
        <dt class="col-sm-2">
            Photo:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CatalystEdit" asp-route-id="@Model.CatalystId">Edit</a> |
    <a asp-action="CatalystIndex">Back to List</a>
</div>
