@model DoinGood.Models.Catalyst

@{
    ViewData["Title"] = "CatalystDetails";
}

<h1>CatalystDetails</h1>

<div>
    <h4>Catalyst</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeedCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskCompletedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskCompletedCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonationCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonationCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChallengedCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalContribution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalContribution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CatalystId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
