@model IEnumerable<DoinGood.Models.Deed>

@{
    ViewData["Title"] = "DeedIndex";
}

<h1>Deed Index</h1>

<p>
    <a asp-action="DeedCreate">Do A Good Deed!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Catalyst
            </th>
            <th>
                Fund
            </th>
            <th>
                Beneficence
            </th>
            <th>
                Impact
            </th>
            <th>
                Donate Amount
            </th>
            <th>
                Max Amount
            </th>
            <th>
                Inspire Count
            </th>
            <th>
                Challenge Count
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Catalyst.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fund.FundName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonateAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspireCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChallengeCount)
            </td>
            <td>
                <a asp-action="DeedEdit" asp-route-id="@item.DeedId">Edit</a> |
                <a asp-action="DeedDetail" asp-route-id="@item.DeedId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
