@model DoinGood.Models.Donate

@{
    ViewData["Title"] = "DonateDetail";
}

<h1>DonateDetail</h1>

<div>
    <h4>Donate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterCatalyst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterCatalyst.FirstName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fund.FundName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="DonateEdit" asp-route-id="@Model.DonationId">Edit</a> |
    <a asp-action="DonateIndex">Back to List</a>
</div>
