@model IEnumerable<DoinGood.Models.Donate>

@{
    ViewData["Title"] = "DonateIndex";
}

<h1>Donation Index</h1>

<p>
    <a asp-action="DonateCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Address:
            </th>
            <th>
                Poster Catalyst:
            </th>
            <th>
                Fund:
            </th>
            <th>
                Item Name:
            </th>
            <th>
                Item Description:
            </th>
            <th>
                Value:
            </th>
            <th>
                Image:
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosterCatalyst.Address.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosterCatalyst.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fund.FundName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="DonateEdit" asp-route-id="@item.DonationId">Edit</a> |
                <a asp-action="DonateDetail" asp-route-id="@item.DonationId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
