@model IEnumerable<DoinGood.Models.Tasks>

@{
    ViewData["Title"] = "TasksIndex";
}

<h1>TasksIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PosterCatalyst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskerCatalyst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosterCatalyst.CatalystId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskerCatalyst.CatalystId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fund.FundId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
