@model DoinGood.Models.Tasks

@{
    ViewData["Title"] = "TasksAccept";
}

<h1>Accepted Task!</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Task Posters Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PosterCatalyst.FirstName)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PosterCatalyst.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            Address:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PosterCatalyst.Address.StreetAddress),
            @Html.DisplayFor(model => model.PosterCatalyst.Address.City),
            @Html.DisplayFor(model => model.PosterCatalyst.Address.State),
            @Html.DisplayFor(model => model.PosterCatalyst.Address.Zip)
        </dd>
        <dt class="col-sm-2">
            Accepted By:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskerCatalyst.FirstName)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskerCatalyst.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            Posters Selected Fund:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.FundName)
        </dd>
        <dt class="col-sm-2">
            Task:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>
        <dt class="col-sm-2">
            Description:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt class="col-sm-2">
            Task Value:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="TasksCompleted">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fund" />
            <input type="hidden" asp-for="FundId" />
            <input type="hidden" asp-for="TaskId" />
            <input type="hidden" asp-for="PosterCatalyst" />
            <input type="hidden" asp-for="PosterCatalystId" />
            <input type="hidden" asp-for="PosterComplete" />
            <input type="hidden" asp-for="TaskerCatalyst" />
            <input type="hidden" asp-for="TaskerCatalystId" />
            <input type="hidden" asp-for="TaskerComplete" />
            <input type="hidden" asp-for="TaskerFund" />
            <input type="hidden" asp-for="TaskerFundId" />
            <input type="hidden" asp-for="TaskerValue" />
            <input type="hidden" asp-for="TaskTitle" />
            <input type="hidden" asp-for="TaskDescription" />
            <input type="hidden" asp-for="Value" />
            <input type="hidden" asp-for="Image" />
            <div class="form-group">
                <input type="submit" value="Task Completed" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
        <div>
            <a asp-action="TasksCompleted" asp-route-id="@Model.TaskId">Task Complete</a> |
            <a asp-action="TasksIndex">Back to List</a>
        </div>
