@model IEnumerable<DoinGood.Models.Tasks>

@{
    ViewData["Title"] = "TasksIndex";
}

<h1>Tasks Index</h1>

<p>
    <a asp-action="TasksCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Address:
            </th>
            <th>
                Poster Catalyst:
            </th>
            <th>
                Fund:
            </th>
            <th>
                Task Title:
            </th>
            <th>
                Task Description:
            </th>
            <th>
                Value:
            </th>
            <th>
                Image:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosterCatalyst.Address.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosterCatalyst.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fund.FundName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="TasksEdit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-action="TasksDetail" asp-route-id="@item.TaskId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
