@model DoinGood.Models.Tasks

@{
    ViewData["Title"] = "TasksDetail";
}

<h1>TasksDetail</h1>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PosterCatalyst.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PosterCatalyst.Address.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PosterCatalyst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PosterCatalyst.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.FundName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="TasksEdit" asp-route-id="@Model.TaskId">Edit</a> |
    <a asp-action="TasksIndex">Back to List</a>
</div>
