@model DoinGood.Models.Deed

@{
    ViewData["Title"] = "ViewDeed";
}

<h1>ViewDeed</h1>

<div>
    <h4>Deed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatalystId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatalystId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeservingCauseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeservingCauseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beneficence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonateAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonateAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspireCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspireCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChallengeCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
